body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    height: calc(100vh - 70px);
    min-height: calc(100vh - 70px);
}

input, select
{
    text-align: center;
}

form:first-of-type
{
    margin-top: calc(calc(100vh - 70px) / 4);
    margin-bottom: calc(25vh / 4);
}

form:last-of-type { margin-top: 10px; }
form:last-of-type > input[type=submit] { width: 400px; height: 40px;}

.user-info
{
    height: 150px;
    width: 400px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}